/* header  */
.header{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 /10%);
    
    z-index: 999;
}
.header-top{
    background-color: var(--color-one);
    color: var(--color-two);
    font-size: 10px;
    padding: 10px;
    text-align: center;
}
.header-main .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-main .inner-logo img{
    height: 48px;
    width: auto;
    margin-right: 10px;
}
.header-main .inner-logo span{
    font-size: 22px;
    font-weight: 600;
}
.header-main .inner-logo {
    color: var(--color-one);
    display: flex;
    align-items: center;
}
.header-main .inner-menu ul{
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.header-main .inner-menu ul li a{
    color: var(--color-one);
    font-size: 18px;
    padding-right: 15px;
    padding-left: 15px;
}
.header-main .inner-contact {
    color: var(--color-one);
    font-size: 18px;
    margin-left: 20px;
}
.header-main .inner-social ul{
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.header-main .inner-social ul li{
    margin-left: 15px;
}
.header-main .inner-social ul li a{
    color: var(--color-one);
    font-size: 20px;
}
/* end header  */

/* khoi thu nhat */
.section-one{
    padding: 100px 0;
    background-color: #F0F2F5;
}
.section-one .inner-wrap{
    display: flex;
}
.section-one .inner-content{
    width: 50%;
}
.section-one .inner-image{
    width: 50%;
    position: relative;
}
.section-one .inner-image img{
    width: 100%;
}
.section-one .inner-image .inner-sale{
    position: absolute;
    background-color: var(--color-two);
    color: var(--color-one);
    top: 0;
    right: 150px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    flex-direction: column;
    font-weight: 500;
}
.section-one .inner-content .inner-title{
    color: var(--color-one);
    font-size: 48px;
}
.section-one .inner-content .inner-desc{
    color: var(--color-one);
    font-size: 22px;
}
.section-one .inner-content .inner-list{
    display: flex;
    color: var(--color-one);
    padding: 40px;
}
.section-one .inner-content .inner-list .inner-item{
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;

}

/* lam button de con dung duoc lai  */
.button{
    background-color: var(--color-text);
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 45px;
    border: 2px solid var(--color-text);
    display: inline-block;
}
.button:hover{
    color: var(--color-text);
    background-color: white;
}
/* lam button de con dung duoc lai  */

.button-two{
    background-color: #FFC800;
    border-color: var(--color-two);
}
.button-two:hover{
    color: var(--color-two);
}
/* het khoi thu nhat */

/* khoi thu hai  */
.section-two{
    padding: 100px 0;
}
.section-two img{
    width: 200px;
}
.section-two .inner-wrap{
    display: flex;
    justify-content: space-between;
}
.section-two .inner-box{
    width: calc(100%/3 - 20px);
    height: 100%;
    /* ty le width height cua element  */
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
}
.section-two .inner-box img{
    width: 100%;
    height: 100%;
    /* de anh tu co gian ma ko bi vo  */
    object-fit: cover;
    transition: all 0.6s;
}
.section-two .inner-box:hover img{
    transform: scale(1.1);

}
.section-two .inner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
}
.section-two .inner-tag{
    background-color: #13A05D;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 15px;
}
.section-two .inner-box .inner-title{
    margin-top: 0;
    font-size: 24px;
    color: white;
    margin-bottom: 35px;
}
.section-two .inner-content .inner-title-1{
    margin-top: 0;
    font-size: 24px;
    color: var(--color-one);
    margin-bottom: 20px;

}
.section-two .inner-content .inner-title-2{
    margin-top: 0;
    font-size: 35px;
    color: var(--color-one);
    margin-bottom: 10px;

}
.section-two .inner-content .inner-price-new{
    margin-top: 0;
    font-size: 35px;
    color: var(--color-two);
    margin-bottom: 10px;

}
.section-two .inner-content .inner-price-old{
    margin-top: 0;
    font-size: 20px;
    color: var(--color-two);
    margin-bottom: 10px;

}
.section-two .inner-content .inner-sale{
    font-size: 40px;
    color:  var(--color-two);
    margin-bottom: 10px;
}
.button-one{
    background-color: var(--color-one);
    border-color: var(--color-one);
}
.button-one:hover{
    color: var(--color-one);
}
/* het khoi thu hai */


/* khoi thu ba  */
.section-three {
    padding: 100px 0;
    background-color: #F0F2F5;
}
/* .section-three .container{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.section-three .container .box-tren{
    text-align: center;
    margin-bottom: 70px;
}
.section-three .box-tren .tren{
    font-size: 40px;
    color: var(--color-one);
    margin-top: 0;
}
.section-three .box-tren .duoi{
    font-size: 20px;
    color: var(--color-text);
    margin-top: 0;
}
.section-three .container .box-duoi {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    
}
.section-three .container .box-duoi .box .icon{
    padding: 10px 0;
    color: var(--color-text);
    font-size: 40px;
}
.section-three .container .box-duoi .box .cap{
    padding: 10px 0;
    color: var(--color-one);
    font-size: 30px;
}
.section-three .container .box-duoi .box .chu{
    padding: 10px 0;
    color: var(--color-one);
    font-size: 15px;
}
/* het khoi thu ba  */

/* khoi 4 */
.section-four{
    padding: 100px 0;
}
.section-four .container{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}
.section-four .container .khoiphai .chudau{
    color: var(--color-one);
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 50px;
}
.section-four .container .khoiphai .chusau{
    color: var(--color-text);
    font-size: 20px;
    padding-bottom: 50px;
    max-width: 370px;
}
.button-four{
    background-color: var(--color-two);
    border-color: var(--color-two);
}
.button-four:hover{
    color: var(--color-two);
}
/* het khoi 4 */

/* khoi 5 */
.section-five{
    padding: 20px 0;
    background-color: #F0F2F5;
}
.section-five .container{
    padding: 50px 0;
    background-color: #F0F2F5;
}
.section-five .khuon .khuon1{
    display: flex;
    color: white;
}
.section-five .khuon .khuon1 .icon{
    position: absolute;
    left: 0px;
}

.section-five .khuon{
    background-image: url(../images/background23.jpg);
    display: flex;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 130px;
    align-items: center;
    justify-content: space-around;
}
.button-five{
    background-color: green;
    border-color: green;
    width: 100px; /* Điều chỉnh kích thước */
    height: 40px;
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px; /* Bo góc nếu cần */
}
.button-four:hover{
    color: green;
}
/* het khoi 5 */